<!DOCTYPE html>

  <div class="p-grid">
    <div class="p-col-12">
      <h1>Lançamentos</h1>
    </div>

    <div class="p-col-12-fluid">
      <label>Descrição</label>
      <input pInputText type="text">
    </div>

    <div class="p-col-12">
        <label style="display: block" >Vencimento</label>
        <input pInputText type="text">
        <label>até</label>
        <input type="text" pInputText>
    </div>

    <div class="p-col-12">
        <button pButton type="submit" label="Pesquisar"></button>
    </div>

  </div>

