/* You can add global styles to this file, and also import other style files */

body{
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  color: #404C51;
}

label{
  font-weight: bold;
}

@media (min-width: 575.98px) {
  .container{
    width: 555px;
    margin: 0 auto;
  }
 }


@media (min-width: 767.98px) {
  .container{
    width: 730px;
    margin: 0 auto;
  }
 }

@media (min-width: 991.98px) {
  .container{
    width: 960px;
    margin: 0 auto;
  }
}

@media (min-width: 1199.98px) {
  .container{
    width: 1170px;
    margin: 0 auto;
  }
 }

.col-acoes{
  width: 20px;
  text-align: center;
}

.col-valor{
  width: 100px;
  text-align: center;
}
